 .thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}
.thumbnail{
    width: 100%;
}
.video-time{
    background-color: black;
    color: white;
    position: absolute;
    bottom:10px;
    right: 8px;
    font-family: Roboto,Arial;
    font-size: 12px;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
    border-radius: 2px;
}
.video-title{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
           
.channel-picture{
}
.video-info{
}
.profile-picture{
    width: 36px;
    border-radius: 50%;
}
.video-author,.video-stats{
    font-size: 14px;
    color: rgb(96, 96, 96);
}
.video-stats{
    margin-top: 5px;
}
.video-author{
    margin-top: 10px;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}